.completed {
  text-decoration: line-through; /* Додаємо перекреслення для завершених тудушок */
  color: #888; /* Змінюємо колір для завершених тудушок (необов'язково) */
  font-style: italic; /* Застосовуємо курсив для завершених тудушок (необов'язково) */
}